<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Data Structure Learning Hub</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../images/logo3.png" rel="icon">
  <link href="../images/logo3.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
 
  <!-- <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/vendor/glightbox/css/glightbox.min.css">
  <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/vendor/aos/aos.css">
  <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css"> -->
  <link rel="stylesheet" href="../main/bootstrap.min.css">
  <link rel="stylesheet" href="../main/bootstrap-icons.min.css">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../css/stack-theory.css">
  
</head>

<body class="services-details-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div
      class="container d-flex align-items-center justify-content-lg-between"
    >
      <h1 class="logo me-auto me-lg-0">
        <a href="/index.html"
          ><img src="../images/logo3.png" alt="" />&nbsp;DS<span>.</span></a
        >
      </h1>

      <nav id="navbar" class="navbar order-last order-lg-0">

        <ul>
          <li><a class="nav-link scrollto active" href="../index.html">Home</a></li>

          <li class="dropdown"><a href="#"><span>Simulation</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../htmls/stack-simulation.html">Stack</a></li>
              <li><a href="../htmls/queue-simulation.html">Queue</a></li>
              <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/linear-simulation.html">Linear Search</a></li>
                  <li><a href="../htmls/binarysearch-simulation.html">Binary Search</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Sort</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/bubblesort-simulation.html">Bubble Sort</a></li>
                  <li><a href="../htmls/selectionsort-simualtion.html">Selection Sort</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Theory</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../htmls/stack-theory.html">Stack</a></li>
              <li><a href="/htmls/queue-theory.html">Queue</a></li>
              <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/linear.html">Linear Search</a></li>
                  <li><a href="../htmls/binary.html">Binary Search</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Sort</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/bubblesort.html">Bubble Sort</a></li>
                  <li><a href="../htmls/selection.html">Selection Sort</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>


      </nav>
      <!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto " style="opacity: 0;"></a>
    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- Services Details Page Title & Breadcrumbs -->
    <!-- <div data-aos="fade" class="page-title"> -->
    <!-- <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services Details</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>s
        </div>
      </div> -->
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <!-- <li><a href="index.html">Home</a></li>
          <li class="current">Services Details</li> -->
        </ol>
      </div>
    </nav>
    </div><!-- End Page Title -->

    <!-- Service-details Section - Services Details Page -->




    <!-- End Services List -->






    <section id="service-details" class="service-details">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
             <h4><b>QUEUE</b></h4>
              <div class="services-list">
                <a href="#queue" class="active"><i class="bi bi-arrow-right-circle"></i><span>What is A
                    Bubble Sort ?</span></a>
                <a href="#Basic" class="active"><i class="bi bi-arrow-right-circle"></i><span>Working</span></a>
                <a href="#types" class="active"><i class="bi bi-arrow-right-circle"></i><span>Types</span></a>
                <a href="#implement" class="active"><i
                    class="bi bi-arrow-right-circle"></i><span>Time Complexity</span></a>
                <a href="#advantage" class="active"><i class="bi bi-arrow-right-circle"></i><span>Advantages</span></a>
                <a href="#disadvantage" class="active"><i
                    class="bi bi-arrow-right-circle"></i><span>Disadvantages</span></a>
                <!--<a href="#advantage"><i class="bi bi-arrow-right-circle"></i><span>Basic</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a> -->
                <!-- <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a> -->
                <!-- <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a> -->
              </div>
            </div>


          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200" >
            <!-- <img src="assets/img/services.jpg" alt="" class="img-fluid services-img"> -->
            <div class="queue" id="queue" style="font-size: x-large;">
              <h3>Bubble Sort</h3>
              <h2> <u>What is Bubble Sort ?</u></h2>
              <div class="bubble-i1">
                <img src="../images/bubble-sort-algprithm.jpg" alt=""height=110 width="170">
              </div>
              <p style="font-size: x-large;">
                <i>Bubble Sort</i> is the simplest sorting algorithm that works by repeatedly swapping the adjacent elements if they are in the wrong order. This algorithm is not suitable for large data sets as its average and worst-case time complexity is quite high.
                <br><br>
                
               <b>How does Bubble Sort Work?</b><br>
               Let us understand the working of bubble sort with the help of the example:<br>
               
            <b>For example:</b> Consider an array arr[] = {6, 3, 0, 5}

             <br><br>
             <b>Pass 1:</b> The largest element is placed in its correct position, i.e., the end of the array.
             <div class="bubble-i2">
              <img src="../images/bubble-i2.png" alt="" height="200" width="400">
            </div>
                <br>
                <b>Pass 2:</b> Place the second largest element at correct position
                <div class="bubble-i3">
                  <img src="../images/bubble-i3.png" alt="" height="200" width="400">
                </div>
              <br>
              <b>Pass 3:</b> Place the remaining two elements at their correct positions.
              <div class="bubble-i4">
                <img src="../images/bubble-i4.png" alt="" height="200" width="400">
              </div>
              <br>
              ● Total no. of passes: n-1<br>
              ● Total no. of comparisons: n*(n-1)/2


              </p>
            </div>
            
            <div class="Basic_q" id="Basic" style="font-size: x-large;">
              <h2> <u>Time Complexity</u></h2>
              <p>
                <br> 
                <div class="bubble-i5">
                  <img src="../images/bubble-sort-i5.png" alt="" height="200" width="250">
                </div>
                    <b>Best Case:</b>

                    In the best-case scenario, when the input array is already sorted, Bubble Sort requires only a single pass through the array to verify that it's sorted.
                    Therefore, the time complexity in the best case is linear, represented as <b>O(n)</b>
                    <br><br>
                    <b>Average and Worst Case:</b>
                  <br>
                  ●  In the average and worst-case scenarios, Bubble Sort compares adjacent elements and swaps them if they are in the wrong order.<br>
                  ●  In the worst-case scenario, where the array is sorted in reverse order, Bubble Sort would require n-1 passes through the array to sort it completely.<br>
                  ●  At each pass, Bubble Sort performs comparisons and potentially swaps elements, resulting in a time complexity of <b>O(n^2)</b>, where 'n' is the number of elements in the array.
                  
                    <br>
                    
<br>
              </p>

            </div>
            <div class="types" id="types">
              <h2><u>Advantages of Bubble Sort</u></h2>
              
              <p style="font-size: x-large;">

                ●<b>Simplicity:</b>  Bubble Sort is easy to understand and implement, making it a good choice for educational purposes and small projects.<br>

                ● <b>No Extra Space:</b> It doesn't require additional memory beyond the original array, making it memory-efficient.<br>

                ● <b>Stability:</b> Bubble Sort is a stable sorting algorithm, meaning it preserves the relative order of equal elements.<br>

                ● <b>Space Efficiency:</b>It doesn't need much additional memory beyond the original dataset, making it space-efficient..<br>

                ● <b>Adaptive:  </b> It can be adaptive in certain cases, meaning it can recognize already sorted portions of the array and terminate early, making it efficient for partially sorted data.

                <br>

              </p>
            </div>
            <div class="implement" id="implement">
              <h2><u>Disadvantages of Bubble Sort</u></h2>
              <p style="font-size: x-large;">
                ● <b>Inefficiency: </b> Bubble Sort has poor time complexity, particularly for large datasets, making it inefficient compared to other sorting algorithms like Quick Sort or Merge Sort.<br>

                ● <b>Quadratic Time Complexity: </b>With a time complexity of O(n^2) in the worst-case scenario, Bubble Sort becomes significantly slower as the size of the dataset increases.<br>

                ●<b>Lack of Adaptability: </b> It doesn't adapt well to already partially sorted datasets, as it still requires multiple passes through the entire array.<br>

                ●<b>Not Suitable for Large Datasets: </b>  Bubble Sort's inefficiency makes it unsuitable for sorting large datasets efficiently.

                <br>

               
                <br>
              </p>
            </div>
            

          </div>

        </div>

      </div>

      </div>
      </div>


    </section>
    <div class="quiz" id="quiz">
      <div id="content" class="content">
        <p> "Quiz Time:Test Your Brainpower!"</p>
        <a href="/htmls/queue-quiz.html">Quiz</a>
        <a href="/htmls/queue-simulation.html">Simulation</a>
      </div>
  </main>

  
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">

              <h3><img src="../images/logo3.png" alt="">&nbsp;DS<span>.</span></h3>
              <p>
                <strong>Phone:</strong> +91 99999 88888<br>
                <strong>Email:</strong> xyz@gmail.com<br>
              </p>
              
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" id="footer-links">
            <h4>Explore</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          
        </div>
      </div>

     
  </footer>
  <!-- End of footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="/assets/js/stacktheory.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>