<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Data Structure Learning Hub</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../images/logo3.png" rel="icon">
  <link href="../images/logo3.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
 
  <!-- <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/vendor/glightbox/css/glightbox.min.css">
  <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/vendor/aos/aos.css">
  <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css"> -->

  <link rel="stylesheet" href="../main/bootstrap.min.css">
  <link rel="stylesheet" href="../main/bootstrap-icons.min.css">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../css/stack-theory.css">
  
</head>

<body class="services-details-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div
      class="container d-flex align-items-center justify-content-lg-between"
    >
      <h1 class="logo me-auto me-lg-0">
        <a href="/index.html"
          ><img src="../images/logo3.png" alt="" />&nbsp;DS<span>.</span></a
        >
      </h1>

      <nav id="navbar" class="navbar order-last order-lg-0">

        <ul>
          <li><a class="nav-link scrollto active" href="../index.html">Home</a></li>

          <li class="dropdown"><a href="#"><span>Simulation</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../htmls/stack-simulation.html">Stack</a></li>
              <li><a href="../htmls/queue-simulation.html">Queue</a></li>
              <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/linear-simulation.html">Linear Search</a></li>
                  <li><a href="../htmls/binarysearch-simulation.html">Binary Search</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Sort</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/bubblesort-simulation.html">Bubble Sort</a></li>
                  <li><a href="../htmls/selectionsort-simualtion.html">Selection Sort</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Theory</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../htmls/stack-theory.html">Stack</a></li>
              <li><a href="/htmls/queue-theory.html">Queue</a></li>
              <li class="dropdown"><a href="#"><span>Search</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/linear.html">Linear Search</a></li>
                  <li><a href="../htmls/binary.html">Binary Search</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Sort</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="../htmls/bubblesort.html">Bubble Sort</a></li>
                  <li><a href="../htmls/selection.html">Selection Sort</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>


      </nav>
      <!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto " style="opacity: 0;"></a>
    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- Services Details Page Title & Breadcrumbs -->
    <!-- <div data-aos="fade" class="page-title"> -->
    <!-- <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services Details</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>s
        </div>
      </div> -->
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <!-- <li><a href="index.html">Home</a></li>
          <li class="current">Services Details</li> -->
        </ol>
      </div>
    </nav>
    </div><!-- End Page Title -->

    <!-- Service-details Section - Services Details Page -->




    <!-- End Services List -->






    <section id="service-details" class="service-details">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
             <h4><b>SELECTION SORT</b></h4>
              <div class="services-list">
                <a href="#queue" class="active"><i class="bi bi-arrow-right-circle"></i><span>What is Selection sort ?</span></a>
                <a href="#Basic" class="active"><i class="bi bi-arrow-right-circle"></i><span>Selection sort working</span></a>
                <a href="#types" class="active"><i class="bi bi-arrow-right-circle"></i><span>Types</span></a>
                <a href="#implement" class="active"><i
                    class="bi bi-arrow-right-circle"></i><span>Time Complexity</span></a>
                <a href="#advantage" class="active"><i class="bi bi-arrow-right-circle"></i><span>Advantages</span></a>
                <a href="#disadvantage" class="active"><i
                    class="bi bi-arrow-right-circle"></i><span>Disadvantages</span></a>
                <!--<a href="#advantage"><i class="bi bi-arrow-right-circle"></i><span>Basic</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a> -->
                <!-- <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a> -->
                <!-- <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a> -->
              </div>
            </div>


          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200" style="font-size: x-large;">
            <!-- <img src="assets/img/services.jpg" alt="" class="img-fluid services-img"> -->
            <div class="SElection" id="queue" >
              <h1> Selection sort </h1>
              <br>
              <h2> <u>What is Selection sort ?</u></h2>
             
              <p>
                <div class="sel-io">
                  <img src="../images/Selection-0.jpeg" alt="">
                </div>
                <i>Selection sort</i> is a simple and efficient sorting algorithm that works by repeatedly selecting the smallest (or largest) element from the unsorted portion of the list and moving it to the sorted portion of the list. 
                <br><br>
               
               <b>How does Selection Sort Algorithm work?</b><br>
               Lets consider the following array as an example: arr[] = {64, 25, 12, 22, 11}<br>

             <br><br>
             <b>Pass 1:</b> 
             <br>
             ● For the first position in the sorted array, the whole array is traversed from index 0 to 4 sequentially.<br>
             ● The first position where 64 is stored presently, after traversing whole array it is clear that 11 is the lowest value.<br>
             ● Thus, replace 64 with 11. After one iteration 11, which happens to be the least value in the array, tends to appear in the first position of the sorted list.
                <br>
                <div class="Sel-i1">
                  <img src="../images/Selction-1.png" alt="" height="100" width="200">

                </div>
            
                <b>Pass 2:</b> 
                <br>
                ●  For the second position, where 25 is present, again traverse the rest of the array in a sequential manner.<br>
                ● After traversing, we found that 12 is the second lowest value in the array and it should appear at the second place in the array, thus swap these values.
              <br>
              <div class="sel-i2">
                <img src="../images/selection-2.png" alt="" height="100" width="250">
              </div>
              <b>Pass 3:</b> 
              <br>
              ●  Now, for third place, where 25 is present again traverse the rest of the array and find the third least value present in the array.<br>
              ●  While traversing, 22 came out to be the third least value and it should appear at the third place in the array, thus swap 22 with element present at third position.
              <br>
              <div class="sel-i3">
                <img src="../images/Selection-3.png" alt="" height="100" width="250">
              </div>
              <b>Pass 4:</b> 
              <br>
              ●  Similarly, for fourth position traverse the rest of the array and find the fourth least element in the array <br>
              ● As 25 is the 4th lowest value hence, it will place at the fourth position.  <br>
              <div class="sel-i4">
                <img src="../images/selection-4.png" alt="" height="100" width="250">
              </div>

              <b>Pass 5:</b> 
              <br>
              ●  At last the largest value present in the array automatically get placed at the last position in the array<br>
              ● The resulted array is the sorted array.
              <br>
              


              </p>
            </div>
            
            <div class="Basic_q" id="Basic" style="font-size: x-large;">
              <h2> <u>Time Complexity</u></h2>
              <p>
                <br> 
                    <b>Best Case:</b>
                    
                    <br>
                    <div class="sel-i5">
                      <img src="../images/selection-5.jpg" alt="" height="200" width="250">
                    </div>
                    ●  Even in the best case scenario, where the array is already sorted, Selection Sort still needs to scan through the entire array to find the minimum element in each pass.<br>
                    ● Although it doesn't perform swaps in the best case, it still has to iterate through the array, resulting in a time complexity of O(n^2).
                    <br><br>
                    <b>Average and Worst Case:</b>
                  <br>
                  ●  In both the average and worst cases, Selection Sort has to scan the array multiple times, finding the minimum element and swapping it with the current position. <br>
                  ●  This results in nested loops, giving Selection Sort a time complexity of O(n^2), where 'n' is the number of elements in the array.
                    <br>
                    
<br>
              </p>

            </div>
            <div class="types" id="types" style="font-size: x-large;">
              <h2><u>Advantages of Selection sort</u></h2>
              
              <p>

                ●<b>Simplicity:</b>Selection Sort is easy to understand and implement, making it a good choice for educational purposes and small projects..<br>

                ● <b>Space Efficiency:</b> It's an in-place sorting algorithm, meaning it doesn't require any additional memory beyond the original array, making it memory-efficient.

                <br>

                ● <b>Stable Sorting:</b>Selection Sort is a stable sorting algorithm, meaning it preserves the relative order of equal elements.<br>

                ● <b>Adaptive: </b>It can be adaptive in certain cases, meaning it can recognize already sorted portions of the array and terminate early, making it efficient for partially sorted data.

                <br>

                <br>

              </p>
            </div>
            <div class="implement" id="implement" style="font-size: x-large;">
              <h2><u>Disadvantages of Selection sort</u></h2>
              <p>
                ● <b>Inefficiency: </b> Bubble Sort has poor time complexity, particularly for large datasets, making it inefficient compared to other sorting algorithms like Quick Sort or Merge Sort.<br>

                ● <b>Quadratic Time Complexity: </b>With a time complexity of O(n^2) in the worst-case scenario, Bubble Sort becomes significantly slower as the size of the dataset increases.<br>

                ●<b>Lack of Adaptability: </b> It doesn't adapt well to already partially sorted datasets, as it still requires multiple passes through the entire array.<br>

                ●<b>Not Suitable for Large Datasets: </b>  Bubble Sort's inefficiency makes it unsuitable for sorting large datasets efficiently.

                <br>

               
                <br>
              </p>
            </div>
            

          </div>

        </div>

      </div>

      </div>
      </div>


    </section>
    <div class="quiz" id="quiz">
      <div id="content" class="content">
        <p> "Quiz Time:Test Your Brainpower!"</p>
        <a href="/htmls/selection-quiz.html">Quiz</a>
        <a href="/htmls/queue-simulation.html">Simulation</a>
      </div>
  </main>

  
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">

              <h3><img src="../images/logo3.png" alt="">&nbsp;DS<span>.</span></h3>
              <p>
                <strong>Phone:</strong> +91 99999 88888<br>
                <strong>Email:</strong> xyz@gmail.com<br>
              </p>
              
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" id="footer-links">
            <h4>Explore</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          
        </div>
      </div>

     
  </footer>
  <!-- End of footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="/assets/js/stacktheory.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>